/* CRM.css */

.crm-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust the margin-top value as needed */
  }
  
  .crm-table th,
  .crm-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .crm-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  